/*UTILITIES*/
.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

/*ELEMENTS*/
header {
  font-size: 3em;
}

/* Playbook choice button areas */
.btn-spread {
  display: flex;
  flex-wrap: wrap;
  gap: 1em 0.5em;
  justify-content: space-around;
}

.playbook-choice-btn {
  width: 220px;
  border: 1px solid black;
  border-radius: 10px;
  user-select: none;
  padding: 0 1em;
}

.selected-playbook {
  background-color: red;
}

.Bloodline-edge {
  width: 220px;
  border: 1px solid black;
  border-radius: 10px;
  user-select: none;
  padding: 0 1em;
}
