/*UTILITIES*/
.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

/*ELEMENTS*/
header {
  font-size: 3em;
}

/* Playbook choice button areas */
.btn-spread {
  display: flex;
  flex-wrap: wrap;
  gap: 1em 0.5em;
  justify-content: space-around;
}

.playbook-choice-btn {
  width: 220px;
  border: 3px solid black;
  border-radius: 10px;
  user-select: none;
  padding: 0 1em;
}

.selected-playbook {
  background-color: red;
}

.selected-edge {
  background-color: turquoise;
}

.selected-aspect {
  background-color: rgb(199, 193, 106);
}

.selected-resource {
  background-color: plum;
}

.locked-edge {
  background-color: darkslategray;
  color: beige;
  pointer-events: none;
}

.edges {
  width: 230px;
  border: 2px solid black;
  border-radius: 10px;
  user-select: none;
  padding: 0 1em;
}

.resources,
.drives,
.mires {
  border: 2px black solid;
  padding: 0.25em;
  border-radius: 1em;
  user-select: none;
}

.Bloodline-aspect,
.Origin-aspect,
.Post-aspect {
  width: 230px;
  border: 2px solid black;
  border-radius: 10px;
  user-select: none;
  padding: 0 1em;
  user-select: none;
}

#Bloodline-options,
#Origin-options,
#Post-options {
  margin: 20px 80px;
  padding: 10px;
  border: 2px solid gray;
  border-radius: 15px;
}

#Bloodline-display,
#Origin-display,
#Post-display {
  border: 1px solid black;
  border-radius: 10%;
  padding: 0.5em;
  min-width: 20%;
  text-align: center;
}

/*Skill specific styles*/
.skill-name {
  grid-area: name;
  border-bottom: 1px solid black;
  text-align: center;
  margin-top: 5px;
  user-select: none;
}

.skill-val-dec-btn {
  grid-area: minus;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  user-select: none;
}

.skill-value {
  grid-area: counter;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  user-select: none;
}

.skill-val-inc-btn {
  grid-area: plus;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 1.5em;
  user-select: none;
}

.skill-pips {
  grid-area: pips;
  display: flex;
  justify-content: space-around;
  border-top: 1px black solid;
  min-height: 1em;
  user-select: none;
}

.skill-val-dec-btn:hover {
  background-color: red;
  cursor: pointer;
  user-select: none;
}

.skill-val-inc-btn:hover {
  background-color: green;
  cursor: pointer;
  user-select: none;
}

.skill-counter {
  display: grid;
  grid-template-areas:
    "name name name name name"
    "minus minus counter plus plus"
    "minus minus counter plus plus"
    "minus minus counter plus plus"
    "minus minus counter plus plus"
    "minus minus counter plus plus"
    "pips pips pips pips pips";
  border: 2px solid black;
  width: 120px;
  height: 100px;
  border-radius: 10px;
}
